# Prava API Configuration
PRAVA_API_KEY="pk_test_Q5aww5kOcr13ffOWzidZ2lnGzwQnqDbDRjjkGNq0Lkg"
PRAVA_PUBLIC_KEY="sk_test_23426f0b4ecd_1jpgk2J6qOaZEmFr44uPVcj91qkKZpYc316egQe7LHE"


# Environment
NODE_ENV=production

# Logging
LOG_LEVEL=info

# Payment Settings
PAYMENT_TIMEOUT=30000
CURRENCY=USD